.btn{
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    padding: 12px 20px;
    margin: 50px;
    border: none;
    color: #fff;
    background: linear-gradient(to right, red, blue);
    transition: all ease 0.5s;
}
.btn:hover{
    box-shadow: 5px 5px 10px #000;
}